h1 {
    font-size: 52px;
    color: white;
    font-family: sans-serif;
}
body {
    background-color: midnightblue;
    padding: 0;
    margin: 0;
}

.box {
    display: flex;
    flex-direction: row;
    width: 2100px;
    height: 900px;
    padding: 0;
    margin: 0;
}
header {
    width: 100%;
    height: 120px;
}
.block1 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 350px;
    margin-top: 50px;
    gap: 20px;
    height: 720px;
    margin-left: 50px;
}
.block2 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 720px;
    margin-top: 50px;
    gap: 20px;
    margin-left: 50px;
    height: 720px;
}
.block3 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 350px;
    margin-top: 50px;
    gap: 20px;
    margin-left: 50px;
}    
.block4 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 350px;
    margin-top: 50px;
    margin-bottom: 200px;
    gap: 20px;
    margin-left: 50px;
}    
.item1 {
    background-color: yellow;
    width: 165px;
    height: 165px;
}
.item_middle1 {
    background-color: yellow;
    width: 350px;
    height: 165px;
}
.item2 {
    background-color: green;
    width: 165px;
    height: 165px;
}
.item_middle2 {
    background-color: green;
    width: 350px;
    height: 165px;
}
.item_big2 {
    background-color: green;
    width: 350px;
    height: 350px;
}
.item3 {
    background-color: red;
    width: 165px;
    height: 165px;
}
.item_middle3 {
    background-color: red;
    width: 350px;
    height: 165px;
}
.item_big3 {
    background-color: red;
    width: 350px;
    height: 350px;
}
.item4 {
    background-color: skyblue;
    width: 165px;
    height: 165px;
}
